shell_exe: /bin/bash

golang:
  name: go
  vm: goenv
  version: 1.9.4
  pkgs:
    - github.com/motemen/ghq    # for remote repo directory management
    - github.com/knqyf263/pet   # snippet manager
    - github.com/gokcehan/lf    # file manager
    - github.com/tomnomnom/gron # json reformatting for grep
  install_exe: go
  install_cmd: get

# TODO: This freaks out if ~/.local/bin or ~/.local/lib
#       are on path and already have packages
python:
  name: python
  vm: pyenv
  version: 3.6.3
  pkgs:
    - httpie         # pretty curl/wget
    - buku           # cli bookmark manager
    - pre-commit
    - flake8
    - yapf
    - grip           # GH flavored markdown preview
    - proselint      # linting english prose
    - mackup
    - speedtest-cli  # test internet speed
    - rice           # better R shell
    - ipython        # better python shell
    - jedi           # code completion
    - yamllint       # yaml linter
    - ansible-lint   # ansible yaml linter
    - glances        # system info tui
    - neovim         # for vim8/neovim
    - xkcdpass       # for generating human-memorable passphrases
  install_exe: pip3
  install_cmd: install

ruby:
  name: ruby
  vm: rbenv
  version: 2.5.0
  pkgs:
    - vmail          # vim-based email client
  install_exe: gem
  install_cmd: "install --install-dir $GEM_HOME"

node:
  name: node
  vm: nodenv
  version: 6.11.1
  pkgs:
    - yarn
    - prettier
    - eslint
    - jsonlint
    - write-good
  install_exe: npm
  install_cmd: "install -g"

# rust:
#   name: rust
#   vm: rustup
#   version:
#   pkgs:
#     - exa
#   install_exe: cargo
#   install_cmd: install

# php:
#   name: php
#   vm: phpenv
#   version: 7.1.17

bash:
  debian:
    pkgs:
      - github.com/mdzhang/killswitch # vpn kill switch
      - github.com/mdzhang/pipes      # terminal screensaver
      - github.com/mdzhang/climate    # utility belt
